<header class="header-present">
    <ul>
        <li>inicio</li>
        <li>mapa</li>
        <li>...</li>
    </ul>
</header>
<main>
    <section class="first-view">

        <div class="content-view">
            <div class="logo">
                <img src="../../../../assets/images/logo.png" alt="">
            </div>
            <div class="title">
                <h1>Proyecto de servidores y ecosistema web de SGE + implementacion de cesium</h1>
                <p>
                    Presentacion compuesta con la finalidad de aclarar el rumbo que va tomando el proyecto y como funcionaria en produción.
                </p>
            </div>
        </div>
        
        <video src="../../../../assets/videos/videomain.mp4" autoplay loop muted class="video"></video>
        <div class="capa"></div>
    </section>
    <section class="objects">
        <h2 class="objects-title">OBJETIVOS GENERALES</h2>
        <ul class="list-objects">
            <li>Pagina web SGE (Beta)</li>
            <li>Conexion a DNS personalizada</li>
            <li>API Gestion de usuarios (sin host)</li>
            <li>Base de datos (MySQL - sin host)</li>
            <li>Servidor de archivos propio</li>
            <li>Servidor de host web local</li>
        </ul>
    </section>
    <section class="question">
        <h2 class="titleplan">¿Cuál es el plan?</h2>
        <p>Para el desarrollo de estos objetivos se utiliza un stack herramientas bastante variadas, las cuales se conectan entre si para poder lograr un ecosistema capaz de cumplir con las necesidades del cliente.</p>
        <p>Mas especificamente hablamos de tecnologias web basicas como HTML, CSS y Js, con la particularidad de hacer uso de herramientas mas potentes como Angular o Cesium basadas en las anteriores dichas. Tambien en el stack Back-End se utilizan los Frameworks SpringBoot (basado en Java), MySQL para almacenar datos, Microsoft IIS para el host web, Apache Tomcat para el servidor de archivos el cual se encargara de administrar el servidor de recursos.</p>
        <p>Y tambien incluir a servicios de terceros como Google Drive, Firebase como almacenamiento en la nube y distribucion web.</p>
        <p>Estas son las herramientas que nos sera utiles completar el proyecto, ciertamente cada una tiene su nivel de complejidad pero a medida que se va constriyendo, se van encontrando las soluciones indicadas para cada paso.</p>
        <p>A continuacion, mas abajo encontraras un grafico que muestra como seria el ecosistema que se construye en este proyecto.</p>
    </section>
    <section class="diagrama">
        <img src="../../../../assets/images/diagrama sge.png" alt="">
    </section>
</main>